</main><!-- content wrapper, keeps the footer stuck to the bottom if content less than 100vh -->

<footer>
  <div id='footerLinks'>
    <div class="footerLink">
      <a aria-label='codepenLink' href="https://www.meetup.com/Charleston-Hackers" target="blank" class="fab fa-meetup footerLinkIcon">
        <span class="footerLinkText">
          Visit the group on Meetup
        </span>
      </a>
    </div>
    <div class="footerLink">
      <a aria-label='Charleston Hackers Github account' href="https://github.com/charleston-hackers" target="blank" class="fab fa-github footerLinkIcon">
        <span class="footerLinkText">
          View the Github repo
        </span>
      </a>
    </div>
    <div class="footerLink">
      <a aria-label='About this app' href="/about" target="blank" class="far fa-id-card footerLinkIcon">
        <span class="footerLinkText">
          About the Programmer
        </span>
      </a>
    </div>
  </div>

  <p class='hackingSince'>Charleston Hackers, Hacking Since 2018</p>
</footer>


<!-- scripts  -->
<script src="/static/scripts/scripts.js"></script>
</body>
</html>
