<header>
  <div class="hackersBrand">
    <span class='appName'>{{title}}</span>
    <p class='groupTitle'>- A Charleston Hackers application -</p>
  </div>

  <navbar class="navBar">
    <!-- your navbar content goes here -->
    <h1>This is the navbar</h1>
  </navbar>
</header>
